@page "/favouritepatient"
@inject IController controller
@inject IModel model
@using ZsutPwPatterns.Application.Model.Data
@using System.Text
@using System.Linq
<h5>Search for doctor favourite patient</h5>
<style>
    body {
        background-color: lightsteelblue;
    }
</style>



<RadzenTextBox Name="ShowDoctorsVisits" @bind-Value=@model.SearchFavouritePatientDoctorId Style="width: 160px" />

<RadzenButton Icon="search" Text="Search" Click=@controller.ShowFavouritePatientsAsync ButtonStyle="ButtonStyle.Secondary " Style="width: 160px" />

<h5 style="margin-top: 16px">Doctor favourite patient:</h5>

<RadzenListBox Name="selectionList" Data=@model.FavouritePatientsList TValue="FavouritePatientData" Style="width: 324px; height: 240px">
    <Template Context="FavouritePatientData">
         @FavouritePatientData.NameSurname 
    </Template>
</RadzenListBox>







@code {
    private IController controller_ = ControllerFactory.GetController(new EventDispatcher());

    protected override async Task OnInitializedAsync()
    {
        IModel model1 = controller_.Model;

        IModel model2 = controller.Model;

        IModel model3 = model;
    }
}