@inherits LayoutComponentBase

<div style="background-image:none;background-color:steelblue;" class="sidebar">
  <NavMenu />
</div>

<div class="main">
  <div class="content px-4">
    @Body
  </div>
</div>
